* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000000;
    color: white;
    line-height: 1;
    background-image: url('5.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}

header {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: color 0.3s;
} 
header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #ddd;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.hero-text {
    max-width: 10000px;
}

.hero-text h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #f3e8ff;
}

.btn-group a {
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 15px;
    background: transparent;
    border: 1px solid  #902eec;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Trusted By Section */
.trusted-by {

text-align: center;
padding: 1.5rem 0;

}
.trusted-by h2 {
margin-bottom: 2rem;
}
.trusted-by .logos {
display: flex;
justify-content: center;
gap: 1rem;
}
.trusted-by .logos img {
height: 50px;
}
.trusted-by .btn {
padding: 0.8rem 2rem;
border-radius: 5px;
text-decoration: none;
font-size: 1rem;
margin: 0.5rem;
}
.trusted-by .btn.primary {
background:  #902eec;
border: 1px solid  #ffffff;
color: #ffffff;
font-weight: bold;
}
.trusted-by .btn.secondary {
background:  #902eec;
border: 1px solid  #ffffff;
color: #ffffff;
font-weight: bold;
}
.trusted-by .btn.third {
background:  #902eec;
border: 1px solid  #ffffff;
color: #ffffff;
font-weight: bold;
}
.trusted-by .btn.forth {
background:  #902eec;
border: 1px solid  #ffffff;
color: #ffffff;
font-weight: bold;
}
.trusted-by h2 {
margin-bottom: 2rem;
text-align: center;
}
.trusted-by .logos {
display: flex;
justify-content: center;
gap: 1rem;
}
.trusted-by .logos img {
height: 50px;
}
/* Footer */
footer {
text-align: center;
}